.movie {
  background-color: inherit;
  position: relative;
}

.movie__image {
  width: 100%;
  height: 201px;
  border-radius: 6px;
  aspect-ratio: 1/1;
  display: block;
  object-fit: cover;
  object-position: center;
  margin-bottom: 14px;
}

.movie__align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}

.movie__title {
  margin: 0;
  max-width: 250px;
  font-weight: 500;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie__time {
  min-width: 52px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  border-radius: 3px;
  background-color: #2F2F2F;
  color: #8B8B8B
}

.movie__btn-save {
  display: none;
}

.movie:hover .movie__btn-save {
  padding: 0;
  display: flex;
  background-color: initial;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.movie__btn-saved {
  padding: 0;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: initial;
  cursor: pointer;
}

.movie__btn-delete {
  display: none;
}

.movie:hover .movie__btn-delete {
  padding: 0;
  display: flex;
  background-color: initial;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.movie__btn-delete:hover {
  opacity: 0.8;
}

.movie__btn-save:hover {
  opacity: 0.8;
}

.movie__btn-saved:hover {
  opacity: 0.8;
}

.movie__error-message {
  margin: 0;
  margin-top: 10px;
  color: #EE3465;
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .movie__image {
    margin-bottom: 25px;
    height: 190px;
  }

  .movie__align {
    padding: 0;
  }
}

@media screen and (max-width: 540px) {
  .movie__image {
    margin-bottom: 16px;
    height: 168px;
  }
}