.movies {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
}

.movies__btn-follow {
  padding: 0;
  margin: 76px auto 102px;
  width: 320px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border-radius: 10px;
  border: solid 1px #424242;
  font-weight: 500;
  font-size: 12px;
  color: #FFF;
  cursor: pointer;
}

.movies__error-text {
  color: #EE3465;
  font-size: 10px;
  text-align: center;
  margin: 0;
}

.movies__btn-follow:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .movies {
    margin: 0;
  }
  
  .movies__btn-follow {
    margin-top: 60px;
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 540px) {
  .movies__btn-follow {
    width: 240px;
    margin-top: 50px;
  }

  .movies__btn-follow {
    margin-bottom: 46px;
  }
}