.about-project {
  box-sizing: border-box;
  width: 100%;
  padding: 110px 70px;
}

.about-project__title {
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  min-height: 51px;
  border-bottom: solid 1px #DADADA;
}

.about-project__info {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 110px;
}

.about-project__steps {
  max-width: 550px;
}

.about-project__subtitle {
  font-weight: 400;
  font-size: 19px;
  margin: 0;
  margin-bottom: 26px;
  min-height: 24px;
}

.about-project__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  min-height: 40px;
}

.about-project__timetable {
  display: flex;
  min-height: 67px;
}

.about-project__columns-left {
  display: flex;
  height: 36px;
  width: calc(100%/4);
  background-color: #3DDC84;
  flex-direction: column;
  align-items: center;
}

.about-project__step-one {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  padding-top: 10px;
  padding-bottom: 24px;
}

.about-project__columns-right {
  display: flex;
  height: 36px;
  width: 100%;
  background-color: #303030;
  flex-direction: column;
  align-items: center;
}

.about-project__step-two {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 24px;
}

.about-project__step-text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__info {
    margin-bottom: 93px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__columns-left {
    width: calc(100%/3.77);
  }
}

@media screen and (max-width: 540px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__title {
    font-size: 17px;
  }

  .about-project__info {
    margin-bottom: 60px;
    margin-top: 60px;
    flex-direction: column;
  }

  .about-project__subtitle {
    font-size: 17px;
    margin-bottom: 19px;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__steps:not(:last-child) {
    margin-bottom: 60px;
  }

  .about-project__columns-left {
    width: calc(100%/1.84);
    height: 34px;
  }

  .about-project__step-one {
    font-size: 11px;
    padding-bottom: 19px;
  }

  .about-project__step-two {
    font-size: 11px;
    padding-bottom: 19px;
  }

  .about-project__step-text {
    font-size: 11px;
  }

  .about-project__columns-right {
    height: 34px;
  }
}