.footer {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 0 70px;
  margin: 57px auto 0;
  width: 100%;
  padding-bottom: 20px;
}

.footer__text {
	font-weight: 400;
  font-size: 13px;
  color: #8B8B8B;
  margin: 0;
	display: flex;
	justify-content: center;
	height: 37px;
	border-bottom: solid 1px #424242;
}

.footer__align {
	display: flex;
  margin-top: 17px;
	justify-content: space-between;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
	gap: 20px;
}

.footer__link {
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__copyright {
	margin-top: 20px;
	font-weight: 400;
  font-size: 13px;
	margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    padding: 57px 10px 20px;
  }

  .footer__align {
    margin-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .footer__text {
    height: 35px;
    font-size: 12px;
  }

  .footer__copyright {
    margin-top: 30px;
    font-size: 12px;
    color: #8B8B8B;
  }

  .footer__link {
    font-size: 12px ;
  }
}