.login {
  width: 396px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 69px auto;
}

.login__logo:hover {
  opacity: 0.8;
}

.login__content {
  width: 100%;
}

.login__greeting {
  margin: 39px 0;
  font-weight: 500;
  font-size: 24px;
}

.login__input {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  border: none;
  padding: 0;
  background-color: #2F2F2F;
  border-radius: 8px;
  color: #fff;
  padding-left: 15px;
}

.login__input:focus {
  outline: #4285F4 solid 1px;
}

.login__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 10px;
  color: #8B8B8B;
}

.login__label:not(:last-child) {
  margin-bottom: 20px;
}

.login__text {
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #8B8B8B;
  text-align: center;
}

.login__btn {
  padding: 0;
  margin-top: 160px;
  border-radius: 3px;
  width: 100%;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: #4285F4;
  cursor: pointer;
}

.login__btn_disabled {
  background-color: #F8F8F8;
  cursor: default;
  color: #C2C2C2;
}

.login__btn:hover {
  opacity: 0.8;
}

.login__link {
  text-decoration: none;
}

.login__signin {
  color: #4285F4;
}

.login__signin:hover {
  opacity: 0.8;
}

.login__input-error {
  color: #EE3465;
  height: 10px;
  margin-bottom: 10px;
}

.login__error-message {
  margin: 0;
  color: #EE3465;
  font-size: 10px;
  position: relative;
  top: 150px;
}

@media screen and (max-width: 768px) {
  .login {
    margin: 231px auto;
  }
}

@media screen and (max-width: 540px) {
  .login {
    margin-top: 56px;
    max-width: 260px;
    align-items: center;
    justify-content: flex-start;
  }

  .login__form {
    width: 100%;
  }

  .login__greeting {
    margin: 47px 0 80px;
    text-align: center;
  }

  .login__btn {
    font-size: 12px;
    margin-top: 248px;
  }

  .login__text {
    font-size: 12px;
  }
}